.map {
    position: fixed !important;
    bottom: 0px !important;
    height: 80vh !important;
    width: 100vw !important;
}

.points {
    font-size: 7vmin;
    position: absolute;
    right: 5vw;
    top: 0px;
}

.ProximitéMessage {
    color: white;
    text-align: center;
    font-size: 25px;
    background: orange;
    opacity: 0.9;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.TitreMapePage {
    font-size: 1em;
    text-align: center;
    padding: 1em;
}

.leaflet-popup-content-wrapper {
    text-align: center !important;
    border-radius: 0px !important;
}

input,
button,
select,
optgroup,
textarea {
    border: none;
    color: white;
    font-size: 12px;
    /*     box-shadow: -3px -3px 0px #ca9307; */
    background: rgb(75, 73, 73);
    background-size: 100%;
    border: 1px double orange;
}

.modal-content {
    border-color: black;
    margin-top: 22vh
}