.map {
    height: 500px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 6px;
    border: 2px solid black;
}

.ProximitéMessage {
    color: white;
    text-align: center;
    font-size: 25px;
    background: black;
    opacity: 0.9;
    border-radius: 16px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    box-shadow: 3px -3px 0px #ca9307;

}

.TitreMapePage{
    /* font-size:  30px;
    text-align: center;
    font-family: 'cursive'; */
    font-family: 'Lilita One', cursive;
    text-align: center;
    font-size: 10vmin;

}