body {
    background-color: rgb(75, 73, 73) !important;
    color: white !important;
}

/* Image Home Page */
.LogoImg{  
    width: 40vh;
    display: block;
    margin: 1em auto;
    margin-top: 4em;

}
/* Boutton Lancer la partie*/
.btn-start {
    border:1px solid orange !important;
    width:69% !important;
}

