.boutonninfo{
    width: 5vh;
}

.Infologo{
    width: 5vh;
    margin-left: 330px;
    
}

.modaltexte
{
    text-align: left;
}

.modal-content{
 background: red;
 opacity: 0.7;
color: red;
}

.close{
    color: red ;
}