/* Image Home Page */
.LogoImg{  
    width: 40vh;
    margin-left: 50px;
    margin-top: 5px; 
}

/* Info logo Home Page */
.infologo{
    width: 5vh;
    padding-left: 3px;
    margin-bottom: 150px;
    margin-left: -8px;
}

/* Titre Home Page */
.TitreSession{
    text-align: center;
    font-size: 50px;
    margin-top: 60px; 
}

/* Boutton Home Page */
.Button1{
    font-family: 'cursive';
    text-shadow: -1px -1px 0px ;
    color: white;
    font-weight: bold;
    font-size:25px;
    box-shadow: -3px -3px 0px #ca9307;
    background:rgb(75, 73, 73);
    background-size:100%;
    border: 1px double orange;
    display : block;
    width:150px;
    margin:5px auto; 
    margin-bottom:10px;
    margin-top: 50px; 
    border-radius:3px;
  
}

.ButtonBack{
    font-family: 'cursive';
    text-shadow: -1px -1px 0px ;
    color: white;
    font-weight: bold;
    font-size: 20px;
    box-shadow: -3px -3px 0px #ca9307;
    background:rgb(75, 73, 73);
    background-size:100%;
    border: 1px double orange;
    border-radius: 3px;
    margin: 3px;
    
}
