.EnigmePageContainer {
    width: 100vw;
    padding: 1em !important;
    color: white;
}

.bontonInfo {
    margin-left: 80vmin;
    height: 10vmin;
}

.final {
    height: 10vmin;
}

.Titre {
    font-family: 'Lilita One', cursive;
    text-align: center;
    font-size: 1.5em;
    padding-top: 2vmin;
}

.Illustration {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: white;
}

.reponse {
    /*     border-width:3px;
    border-style:solid;
    border-color:rgb(249, 160, 7);
    border-radius: 3vmin; */
}

.points {
    font-size: 7vmin;
    position: absolute;
    right: 5vw;
}

.Infologoegnime {
    width: 2em;
    position: absolute;
    right: 5vw;
    z-index: 999;
    top: 6vh;
}

.BodyText {
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

.TitreQuestion {
    text-align: center;
    font-size: 1.5em;
}

.pasvisible {
    visibility: visible !important;
    display: block !important;
    background-color: rgb(21, 180, 0) !important;
}

.visible {
    background-color: orange !important;
}

.btn-primary {
    border: none !important;
    font-size: 1px !important;
}

.validationContainer {
    position: relative;
}

.final {
    position: absolute;
    top: 25%;
    right: 10%;
}

.bouton2 {
    width: 50vw !important;
    margin-top: 0em !important;
}

.EnigmePageContainer .btn {
    margin-top: 0.5em !important;
}

.EnigmePageContainer .position-relative {
    padding: 0em !important;
}

.Textindices {
    text-align: center;
}
.buttonContinuer{
    background-color: darkgreen;
    width: 7em;
    margin-top: 1em;
    margin-left: 4.5em;
    padding: 1em;
    font-size: 1.5em;
}